.one {
    text-align: center;
    color: #6a5265;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.two{
    height: auto;
    width: 150px;
    margin-left: 35%;
}

.three {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    color: #8ca4b6;
}

.four{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12;
    color: #cd9299;
}
div {
    display:block;
}